* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #FFDE59;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav div img {
    width: 15rem;
    margin-left: 3rem;
}

.bodyf {
    background: url("../multimedia/fondop.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.contenedorPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.productolst {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contlat {
    grid-area: contlat;
}

.productolst div {
    height: auto;
    width: auto;
}

.productolst div img {
    align-items: center;
    width: auto;
    height: auto;
}

.btn {
    width: 100%;
    height: min-content;
}

.imaCar {
    height: 4rem;
    width: 4rem;
}

.carroCompras {
    margin-bottom: 1rem;
    background-color: #FFDE59;
    border-radius: 10px;
}

.btn-pago {
    margin-top: 2rem;
}

.contenedorElementos {
    margin: 2rem;
}

.asideLat {
    grid-area: asideLat;
}

.carrito {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    .contenedorPrincipal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }

    nav div img {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .contenedorPrincipal {
        margin: 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 670px) {
    .carrito {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 530px) {
    .contenedorPrincipal {
        margin: 0rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .contenedorElementos {
        margin: 0.5rem;
    }

    .carrito {
        display: grid;
        grid-template-columns: 1fr;
    }
}